body{
    background-color:azure;
    margin: 0px;
    font-family: 'Helvetica';
    color: rgb(38, 139, 139);
}

#header-judul{
    max-width: 50vh;
    margin: 10px auto ;
    text-align: center;
    background-color: rgb(173, 235, 235);
    border-radius: 30px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 10%;
    margin-bottom: 20px;
    font-family: 'Helvetica';
    box-shadow: 1px 2px 10px 1px rgba(62, 156, 211, 0.51);
}

form{
    border-radius: 20px;
    /* background-color: rgba(0, 0, 0, 0.301); */
    border-style:solid;
    border-color: rgba(0, 0, 0, 0.144);
    padding: 10px;
    display: flex;
    align-content: center;
    justify-content:space-evenly;
    max-width: 50vw;
    margin: 0px auto;
}

.input{
    border: 0px;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#judul{
    color:  rgb(38, 139, 139);
}
#deskripsi-judul{
    color: rgb(38, 139, 139);
}

#add{
    border: 0px;
    border-radius: 100px;
}

#button-functionality{
    display: flex;

    
    margin-left: 20px;
    max-width: 50vw;
    margin: 10px auto;
    margin-top: 0px;

    
}

#filter{
    max-width: 20vw;
}
#list-todo{
    border: 1px solid rgba(0, 0, 0, 0.144);
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 50vw;
    margin: 0px auto;
    background-color: rgb(173, 235, 235);
    padding-bottom: 5vh;
}
h3{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.144);
}


input[type="checkbox"]:checked + label .custom-checkbox-svg {
    /* filter: brightness(0) saturate(100%) invert(34%) sepia(99%) saturate(747%) hue-rotate(134deg) brightness(97%) contrast(92%); */
    /* or any style you want */
    background-image: url(../svg/check_circle_24dp_434343_FILL0_wght400_GRAD0_opsz24.svg);
}

input[type="checkbox"]:checked ~ .list-element-table{
    text-decoration: line-through;
    opacity: 50%;
}
.list-element{
    display:flex;
    justify-content:space-between;
    text-align: left;
    border-bottom: 1px solid black;
    margin: 10px auto;
    font-weight: 500 ;
}

.list-element-table{
    width: 40vw;
    display: flex;
    justify-content: space-evenly;
    
}

.list-element-name{
    width: 30vw;
    text-align: left;
}

.list-element-date{
    width: 10vw;
    text-align: right;
    font-weight: 100;
    font-size: smaller;
}




@media (max-width: 600px) {
    form{
     max-width: 50vh;
    }
    #task-name{
        max-width: 30vh;
    }

    #task-date{
        max-width: 10vh;
    
    }

    #button-functionality{
        max-width: 50vh;
        margin-left: 20px;
    }

    #filter{
        
    }

    #list-todo{
        max-width: 85%;
    }
    #delete-all{
   
}
    .list-element-table{
    width: 80vw;
    
}
    .list-element-name{
        width: 50vw;
        padding-left: 1vh;
    }
    .list-element-date{
        width: 30vw;
    }
}
